body {
    font-family: monotype-corsiva;
    background-color:lightpink;
    margin-top: 100px;
}

.center {
    text-align: left corner;
}

.text-big {
    font-size:250%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    
}

